.App {
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Form {
  background-color: #1a9d2b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  margin-left: 25%;
  margin-top: 4%;
  padding-bottom: 2%;
}

.Form-Header {
  font-size: 50px;
  color: #ffe91f;
}

.Input-Boxes {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-left: 20%;
  margin-bottom: 2%;
}

.Check-Box {
  margin-bottom: 2%;

}


.Checkbox-Label {
  font-size: 20px;
  color: #ffe91f;
}

.button {
  width: 100px;
  height: 30px;
}

.note {
  background-color: #ffe91f;
  width: 50%;
  margin-top: 4%;
  margin-left: 24%;
  border-radius: 6px;
  text-align: left;
  font-size: 10px;
  padding-left: 2%;
  line-height: 150%;
}
